
<div class="container">
    <% success.forEach(function(message) { %>
        <div class="alert alert-success text-center"><%= message %></div>
    <% }) %>
    
    <% errors.forEach(function(message) { %>
        <div class="alert alert-success text-center"><%= message %></div>
    <% }) %>
</div>

<form action="/view-emails" method="POST">
    <button>View submitted email address</button>
</form>

<form action="/view-case-study-email-address" method="POST">
    <button>View case study requests</button>
</form>

<% if(locals.data) { %>
    <% locals.data.map((list) => { %>
        <ul>
            <li>
                <%= list.name %>
            </li>
            <li>
                <%= list.phone %>
            </li>
            <li>
                <%= list.email %>
            </li>
            <li>
                <%= list.message %>
            </li>
        </ul>
    <% }) %>
<% } %>

<% if(locals.caseStudyData) { %>
    <% locals.caseStudyData.map((list) => { %>
        <ul>
            <li>
                <%= list.email %>
            </li>
        </ul>
    <% }) %>
<% } %>